.main-area {
    padding: 50px 10% 0px;
}

.topic-container {
    max-width: 750px;
}

.topic {
    font-weight: bold;
    font-size: x-large;
}

.image {
    width: 128px;
    display: inline-block;
}

.flex {
    display: flex;
}